<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          /sites.{format}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
		    <p> Description  </p>
				<p> Site information that describes the location where the data values were sampled (seriescatalog_62 view).</p>
				<br>
				<p> Format Types </p>
				  <ul>
				    <li>json</li>
						<li>geojson</li>
				  </ul>
			  <br>
			  <p> Search Parameters </p>
				  <table class="table">
					  <tr>
					    <th>Field Name</th>
					    <th>Table</th>
							<th>Data Type</th>
					  </tr>
						<tr>
							<td>datatype</td>
							<td>Variables</td>
							<td>string</td>
						</tr>
						<tr>
							<td>generalcategory</td>
							<td>Variables</td>
							<td>string</td>
						</tr>		
						<tr>
							<td>samplemedium</td>
							<td>Variables</td>
							<td>string</td>
						</tr>			
						<tr>
							<td>variablename</td>
							<td>Variables</td>
							<td>string</td>
						</tr>			
						<tr>
							<td>valuetype</td>
							<td>Variables</td>
							<td>string</td>
						</tr>	
						<tr>
							<td>organizationcode</td>
							<td>Organization Descriptions</td>
							<td>string</td>
						</tr>						
				  </table>
				<br>	
        <%= render "sitestable"%>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          /sites/{siteid}.{format}
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
			  <div id="name">
			    <p> Description  </p>
					<p> Site information for individual sites (defined by siteid) from the seriescatalog_62 view.  {siteid} is a unique integer identifying each site that is derived from Sites table.</li>
				  </ul>		
					<p> siteid </p>		
				    <ul>
				      <li>Unique integer identifying each site (from Sites table).</li>
				    </ul>		
					<p> Format Types </p>
					  <ul>
					    <li>json</li>
							<li>geojson</li>
					  </ul>
				  <br>
          <%= render "sitestable"%>
			  </div>
		  </div>	
		</div>
	</div>
	<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          /variables.{format}
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
				<%= render "variabledescription"%>     
      </div>
    </div>
	</div>
	<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThreeList">
          /variables/list.{format}
        </a>
      </h4>
    </div>
    <div id="collapseThreeList" class="panel-collapse collapse">
      <div class="panel-body">
				<%= render "variablelist"%>     
      </div>
    </div>
	</div>
	<div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	          /sources.{format}
	        </a>
	      </h4>
	    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
				<%= render "sourcedescription"%>
			</div>
		</div>
  </div>
</div>
